@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Styles generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

/* Styles del header */

a {
  text-decoration: none;
  color: whitesmoke;
}

nav {
  background-color: #323232;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: 1.25rem;
  font-weight: 600;
}

.logo img {
  width: 30%;
}

a:hover {
  color: #11cb0e !important;
}

ul li {
  list-style: none;
  font-size: 1rem !important;
  font-weight: 500 !important;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

/* Styles del main */

.contenedor-main {
  background-image: url(../img/ba1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  margin-top: -9rem;
}

#btn-1 {
  width: 150px;
  height: 40px;
  border-radius: 7px;
  background-color: rgb(255, 255, 255, 0.1);
  color: white;
  border: transparent 1px white;
  font-size: 1rem;
}

#btn-2 {
  width: 125px;
  height: 40px;
  border-radius: 7px;
  background-color: green;
  color: white;
  border: none;
  font-size: 1rem;
}

.title {
  text-align: center;
  margin-top: 2rem;
}

.title h2 {
  font-size: 2.5rem;
}

.presentacion {
  width: 50%;
  color: white;
  text-align: right;
  position: relative;
  top: 25rem;
  left: 28rem;
  font-family: 1000;
}

/* Styles de las cards */

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 20px;
  gap: 1rem;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-weight: 1000;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#honolulu {
  width: 50%;
}

.btn-java {
  background-color: #f5b041;
  font-family: Roboto;
  font-weight: 1000;
  width: 75px;
  border: none;
  border-radius: 4px;
}

.btn-react {
  background-color: #18d2de;
  font-family: Roboto;
  font-weight: 1000;
  width: 50px;
  border: none;
  border-radius: 4px;
  color: white;
}

.btn-neg {
  background-color: gray;
  font-family: Roboto;
  font-weight: 1000;
  width: 80px;
  border: none;
  border-radius: 4px;
  color: white;
}

.btn-start {
  background-color: #ee3d52;
  font-family: Roboto;
  font-weight: 1000;
  width: 60px;
  border: none;
  border-radius: 4px;
  color: white;
}

article {
  display: flex;
  flex-direction: row;
  background-color: #323232;
  color: whitesmoke;
}

.octubre {
  line-height: 1.5;
  padding: 1rem;
}

.octubre > button {
  width: 150px;
  height: 40px;
  border-radius: 7px;
  background-color: #323232;
  color: white;
  border: solid 1px white;
  font-size: 1rem;
  position: relative;
  top: 1.5rem;
}

.orador {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Styles del formulario */

form input {
  width: 338px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid gray;
  font-family: Roboto;
  padding: 0.5rem;
}

textarea {
  width: 700px;
  height: 100px;
  font-family: Roboto;
  font-size: 1.25rem;
  padding: 0.5rem;
}

form p {
  text-align: left;
  font-size: 13px;
  color: gray;
}

form button {
  width: 700px;
  height: 40px;
  background-color: #97c83b;
  border: none;
  color: white;
  border-radius: 5px;
}

/* Styles del footer */

footer {
  background-color: #182242;
  margin-bottom: -1rem;
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2rem;
  gap: 2rem;
}

/* Media query  para tablets */


@media (max-width: 980px) {
  body {
    font-size: 14px; /* Tamaño de fuente reducido para tabletas */
  }

  .logo {
    flex-direction: column;
  }

  .nav-bar {
    gap: 3rem;
  }

  nav ul {
    gap: 2rem;
    flex-wrap: wrap;
  }

  .logo img {
    width: 100px;
  }

  .presentacion {
    width: 80%;
    left: 50px;
  }

  .presentacion h1 {
    font-size: 2rem;
  }

  .btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .title {
    margin-top: 5rem;
  }

  .title h2 {
    font-size: 2rem;
  }

  .cards {
    gap: 1.5rem;
    flex-direction: column;
  }

  .card {
    width: 300px;
  }

  #honolulu {
    width: 100%;
  }

  article {
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form input {
    width: 150px;
  }

  form p {
    margin-left: 0.75rem;
  }

  textarea {
    margin-left: 0.25rem;
    width: 300px;
    align-items: center;
  }

  form button {
    width: 300px;
    margin-left: 0.45rem;
  }

  footer ul {
    width: 100%;
    flex-wrap: wrap;
  }
}

/* Media query para moviles */

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }

  .presentacion {
    width: 70%;
    font-size: 1rem;
  }

  .title {
    margin-top: 5rem;
  }

  .title h2 {
    font-size: 1.5rem;
  }

  #baires {
    object-fit: cover;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .card {
    width: 280px;
  }

  .card p {
    font-size: 1.25rem;
  }

  .octubre p {
    font-size: 1rem;
  }

  form input {
    width: 140px;
    height: 40px;
  }

  textarea {
    width: 275px;
    position: relative;
  }

  form button {
    width: 280px;
    font-size: 1rem;
    position: relative;
    left: -2.7px;
    font-weight: bold;
  }

  footer ul {
    width: 100%;
    flex-direction: column;
  }

  footer ul a li {
    font-size: 5rem;
    color: white;
    font-weight: 1000;
  }
}
